$mb: 320px;
$mbl: 480px;
$tb: 768px;
$nb: 992px;
$dt: 1200px;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "lato", sans-serif;

$git-btn-border-color: rgba(128, 128, 128, 0.231);

$mb-s: 320px;
$mb-l: 480px;
$tb-s: 481px;
$tb-m: 768px;
$tb-l: 992px;
$lp-s: 993px;
$lp-l: 1200px;